# Node modules
node_modules/

# Environment variables
.env
.env.production
# Logs
logs/
*.log
npm-debug.log*

# Optional npm cache directory
.npm/

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Debug folder
coverage/
